body {
    /* background-color: whitesmoke; */
    background-image: linear-gradient(to right bottom, rgba(2, 158, 248, 0.267), white, rgba(204, 204, 241, 0.555));

    width: 100%;
}

/* NAV START */

#brand_name {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: bold;
  letter-spacing: 3px;
  color: aqua;
  font-size: 30px;
  text-shadow: 2px 2px 4px silver;
}

nav {
    border-bottom: silver solid 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}
 .nav-link {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: silver;
   font-weight: lighter;
   font-size: 20px;
 }
/* NAV ENDS */


 /* HOME PAGE CONTENT START  */


.graph {
  color: silver;
  font-weight: bolder;
  font-size: 35px;
}

.profile_pic {
  margin-top: 30px;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  box-shadow: 3px 3px 2px silver;
  
}

.full_name {
  color: silver;
}

.section_heading {
  color: silver;
  text-decoration: underline;
  text-decoration-color: rgba(0, 255, 255, 0.178);
  text-decoration-line: underline;
  /* border-bottom: 1px groove rgba(0, 255, 255, 0.178); */

}

.parat_text {
  font-size: 19px;
  padding: 20px;
  font-family:Verdana, Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  text-align: justify;
  /* clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  ); */
}

.date_comp_text {
font-style: italic;
font-weight: lighter
}

.sec_ind {
  padding-top: 75px
}
  
  
 
/* #git_repo {
  margin-left: 5px;
} 

#design_repo{
  margin-right: 10px;

} */

.git_img {
  width:200px;
  height: 200px;
  border-radius: 40%;
  box-shadow: 3px 4px antiquewhite;
  transition: transform .2s;
}

.git_img:hover {
transform: scale(1.1);
margin-top: 10px;
}

.button_link {
  text-align: center;
}
/* HOME PAGE ENDS */


   /* FOOTER AND COPY RIGHT SECTION START  */

      /* FOOTER AND COPY RIGHT SECTION ENDS  */

